@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

$colorPurple:#9453A6;
$colorGreen:#8CBF3F;
$colorYellow:#F2CC0F;
$colorLight:#F2F2F2;
$colorDark:#0D0D0D;
$textFont: 'Roboto',
'sans-serif';
$hFont1:'Pattaya';
$hFont2:'Henny Penny';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}