#content {
    width: 100vw;
    margin: 20px auto 0 auto;
    padding: 0 60px 30px 60px;
}

#content p {
    margin-right: auto;
    margin-left: auto;
}

a {
    outline: none;
}

a img {
    border: 1px solid #BBB;
    padding: 0;
    margin: 17px;
    vertical-align: top;
    width: 150px;
    height: 150px;
}