@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* navbar css */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
  background-color: #F2CC0F;
  font-family: "Pattaya";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar .nav-links {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-links a {
  color: #9453A6;
  text-decoration: none;
}

.logo {
  width: 85px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu li:hover {
  background-color: #9453A6;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu li:hover a {
  color: #F2F2F2;
}

.menu li {
  list-style: none;
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #ecd55d;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:active {
    display: inline-block;
    background-color: #9453A6;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li:active a {
    color: #F2F2F2;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    color: #9453A6;
  }
  .logo {
    width: 75px;
  }
}

@media (max-width: 600px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #ecd55d;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:active {
    display: inline-block;
    background-color: #9453A6;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li:active a {
    color: #F2F2F2;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    color: #9453A6;
  }
  .logo {
    width: 65px;
  }
}

.footer {
  background-color: #e8e8e8;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 2;
  width: 100%;
  display: block;
  left: 0;
  position: absolute;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
  color: #F2F2F2;
  text-shadow: 1px 1px #0D0D0D;
  margin: 0 25px;
}

:root {
  --success: #2c7;
  --error: #e43;
}

.formControl {
  color: #F2F2F2;
  text-shadow: 1px 1px #0D0D0D;
  margin-bottom: 5px;
  line-height: 1.5;
}

.formControl label {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
}

.formControl input {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 80vw;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto", "sans-serif";
  margin-right: auto;
  margin-left: auto;
}

#textArea {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 80vw;
  padding: 10px;
  font-family: "Roboto", "sans-serif";
  font-size: 1.1rem;
  margin-right: auto;
  margin-left: auto;
  resize: none;
}

.formControl ::-webkit-input-placeholder {
  opacity: 0;
}

.formControl :-ms-input-placeholder {
  opacity: 0;
}

.formControl ::-ms-input-placeholder {
  opacity: 0;
}

.formControl ::placeholder {
  opacity: 0;
}

.formControl input:focus {
  outline: 0;
  border-color: #777;
}

.formControl.success input {
  border-color: var(--success);
}

.formControl.error input {
  border-color: var(--error);
}

.formControl small {
  color: var(--error);
  visibility: hidden;
}

.formControl.error small {
  visibility: visible;
  font-size: medium;
  margin: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #777;
  text-shadow: none;
}

input[type=submit] {
  border: 2px solid #5f832a;
  background-color: #8CBF3F;
  border-radius: 4px;
  color: #0D0D0D;
  font-family: "Roboto", "sans-serif";
  display: block;
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px;
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
}

input[type=submit]:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .formControl label {
    display: none;
  }
  .formControl ::-webkit-input-placeholder {
    opacity: .7;
  }
  .formControl :-ms-input-placeholder {
    opacity: .7;
  }
  .formControl ::-ms-input-placeholder {
    opacity: .7;
  }
  .formControl ::placeholder {
    opacity: .7;
  }
}

.pageContainer {
  background-image: url("./Media/pexels-sharon-mccutcheon-1566909.jpg");
}

h1 {
  font-family: "Pattaya";
  color: #8CBF3F;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 10px;
  margin-top: 25px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  main div.contactContainer {
    padding: 10px;
    display: block;
  }
}

div.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 30px 65px;
}

.contactLogo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.textContactContainer {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
}

h2 {
  color: #0D0D0D;
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=contact.css.map */